extends layout

block home
	a(href='/').nav-home &lsaquo;&lsaquo;&nbsp; home

block nav
	div.nav-group
		a(href='/about/').nav.nav-about about
		span.divider /  
		a(href='/team/').nav.nav-team.nav-team-selected team
		span.divider /
		a(href='/work/').nav.nav-work work
		span.divider /
		a(href='/blog/').nav.nav-blog blog

block label
	h1.sub-header meet the team

block content
	.row(style='margin-top: 40px').no-select
		p.team-intro
			| Here are some of our core members and collaborators, and a little bit about them. We're a diverse group — scientists and engineers, coders and designers, biologists and mathematicians.
			| Want to join us? There are many ways to get involved, just 

			a(href="mailto:the.freeman.lab-at-gmail.com")
				| reach out.

		- var members = _.sortBy(contents.team_members, function(d) {return d.metadata.order})
		- var photos = contents.team.photos

		each person in members	

			- var image = _.find(photos, function(d) {return d.filepath.full.indexOf(person.metadata.id) > -1})
			
			if image
				div.team-member
					img(src='/' + image.filepath.relative).team-photo
					p.team-blurb
						span.team-name= person.metadata.name
						a(href="http://twitter.com/#{person.metadata.twitter}" target="_blank").team-twitter
							| @#{person.metadata.twitter}
						p.team-position= person.metadata.position 
						p.team-bio
							span= person.metadata.bio1
							br
							span= person.metadata.bio2
							br
							span= person.metadata.bio3

		br
		br
		br
					
		