extends layout

block home
	a(href='/').nav-home &lsaquo;&lsaquo;&nbsp; home

block nav
	div.nav-group
		a(href='/about/').nav.nav-about about
		span.divider /  
		a(href='/team/').nav.nav-team team
		span.divider /
		a(href='/work/').nav.nav-work.nav-selected.nav-work-selected work
		span.divider /
		a(href='/blog/').nav.nav-blog blog

block label
	h1.sub-header what we do


block content
	.row(style='margin-top: 40px')
		- var photos = contents.work.photos
		- var categories = ['code', 'science', 'open']

		each cat in categories

			if cat == 'science'
				p.work-category
					| biology

			if cat == 'code'
				p.work-category
					| code

			if cat == 'open'
				p.work-category
					| open science

			- var projects = _.sortBy(_.filter(contents.work_projects, function(d) {return d.metadata.category == cat}), function(d) {return d.metadata.order})	
			each project in projects

				- var image = _.find(photos, function(d) {return d.filepath.full.indexOf(project.metadata.id) > -1})
				- var github = project.metadata.github
				- var url = project.metadata.url
				- var paper = project.metadata.paper
				- var post = project.metadata.post

				div.work-item
					.row
						.column-8
							p.work-name= project.metadata.name
							p.work-description= project.metadata.description

							p.work-link-group
								if github
									a(href=github target="_blank").work-link
										| repo
								if url
									a(href=url target="_blank").work-link
										| project
								if paper
									a(href="/work/papers/" + paper +".pdf" target="_blank").work-link
										| paper
								if post
									a(href=post target="_blank").work-link
										| post

						if image
							.column-3.prefix-1
								img(src='/' + image.filepath.relative).work-photo